[submodule "src/kirby"]
	path = src/kirby
	url = https://github.com/getkirby/kirby.git
[submodule "src/site/plugins/kirby-fingerprint"]
	path = src/site/plugins/kirby-fingerprint
	url = https://github.com/jonaskuske/kirby-fingerprint.git
[submodule "src/site/plugins/simplestats"]
	path = src/site/plugins/simplestats
	url = https://github.com/daandelange/kirby3-simplestats.git
