[submodule "src/kirby"]
	path = src/kirby
	url = https://github.com/getkirby/kirby.git
[submodule "src/site/plugins/kirby-fingerprint"]
	path = src/site/plugins/kirby-fingerprint
	url = https://github.com/jonaskuske/kirby-fingerprint.git
[submodule "src/site/plugins/kirby-meta-knight"]
	path = src/site/plugins/kirby-meta-knight
	url = https://github.com/diesdasdigital/kirby-meta-knight.git
