/* basic-styling */
:root,
:root.light {
  --bg-color: #fff;
  --txt-color: #000;
  --plus-color: #a5a5a5;
}

:root.dark {
  --bg-color: #000;
  --txt-color: #fff;
  --plus-color: #585858;
}

html,
body {
  background-color: #ffffff;
  background-color: var(--bg-color);
  font-family: Courier New, Courier, monospace;
  font-size: 16px;
  color: #000000;
  color: var(--txt-color);
  overflow-x: hidden;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
span {
  text-transform: lowercase;
}
.overflow {
  overflow: hidden;
  /* height: 90vh; */
}
/* font-styling */
h1 {
  font-size: 1.7rem;
  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
h4 {
  margin: 17px 1% 7px 1%;
  width: 75%;
}
h5 {
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #000000;
  color: var(--txt-color);
}

body {
  margin: 15px;
}

.hamburger {
  margin-right: -0.8%;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  height: 35px;
  padding: 0 1%;
}
.header h2 {
  margin: 5px 0 5px 1%;
  width: 100%;
}
.header h2:hover {
  opacity: 0.7;
}
/* logo */
.logo {
  width: 36%;
  min-width: 54px;
  padding: 0 1% 1% 0;
}
.logo:hover {
  opacity: 0.7;
}
.inactive {
  display: none;
}

/* menu */
.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  text-align: center;
  text-decoration: none;
  background: inherit;
  overflow: hidden;
}
.menu ul {
  list-style: none;
  padding: 0;
}
.active {
  display: inherit;
  z-index: 99;
}
.menu a {
  font-size: 1.3rem;
  line-height: 3rem;
}
.menu a:hover {
  opacity: 0.7;
}
#sprache {
  cursor: pointer;
}

.content {
  margin-top: 15px;
}

/* projects-page-styling */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.thumbnail:first-child {
  width: 64.6%;
  height: 66.6%;
}

.thumbnail {
  position: relative;
  width: 31.3%;
  height: 33.3%;
  z-index: 1;
  padding: 0 1%;
}
.thumbnail p {
  margin: 0 0 5px 5px;
}
.column {
  width: 31.3%;
  padding: 0 1%;
}
.column .thumbnail {
  width: 100%;
  height: 50%;
  padding: 0;
}

.image {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* page-styling */
.page h1 {
  margin: 3% 1%;
}
.page p,
h3,
h5 {
  width: 75%;
  margin: 0 1%;
}
.page a {
  text-decoration: underline;
}
.page a:hover {
  opacity: 0.7;
}
.portrait {
  margin: 3% 1%;
}
.portrait img {
  height: 200px;
}
.plus-inactive {
  color: #a5a5a5;
  color: var(--plus-color);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
/* details-page-styling */
.details h1 {
  margin: 3% 1%;
}
.details p {
  width: 75%;
  margin: 3% 1%;
}
.details a {
  text-decoration: underline;
}
.details p a:hover {
  opacity: 0.7;
}

/* Youtube Embed Styling */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 99%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  margin: 0% 1%;
}

.time p {
  color: #a5a5a5;
  color: var(--plus-color);
  font-size: 0.7rem;
}

/* details-gallery */
.galerie {
  /* width: 99%;
  margin: 0 1%;

  justify-content: flex-start; */
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.img {
  /* width: 45%;
  margin: 0 1vw 1vw 0;
  position: relative; */
  background: url() 50% 50% no-repeat;
  background-size: cover;
  background-clip: content-box;
  /* flex-grow: 0.5; */
  cursor: pointer;
  width: 66.6%;
}
.img:before {
  display: block;
  content: "";
  padding-top: 75%;
}
/* last */
.img_last {
  width: 45%;
  margin: 0 1vw 1vw 0;
  position: relative;
  background: url() 50% 50% no-repeat;
  background-size: cover;
  background-clip: content-box;
  flex-grow: 0.07;
  cursor: pointer;
}
.img_last:before {
  display: block;
  content: "";
  padding-top: 75%;
}
.hochformat_last {
  width: 22.5%;
  margin: 0 1vw 1vw 0;
  position: relative;
  background: url() 50% 50% no-repeat;
  background-size: cover;
  background-clip: content-box;
  flex-grow: 0.35;
  cursor: pointer;
}
.hochformat_last:before {
  display: block;
  content: "";
  padding-top: 140%;
}
/* hochformat */
.hochformat {
  width: 22.5%;
  margin: 0 1vw 1vw 0;
  position: relative;
  background: url() 50% 50% no-repeat;
  background-size: cover;
  background-clip: content-box;
  flex-grow: 0.5;
  cursor: pointer;
}
.hochformat:before {
  display: block;
  content: "";
  padding-top: 140%;
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  background: var(--bg-color);
  overflow: hidden;
  cursor: pointer;
}
.lightbox img {
  max-width: 90%;
  height: auto;
  max-height: 90%;
  top: 0;
  left: 0;
  margin: 50vh 0 0 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.light-active {
  display: block;
}

/* resonsiveness */
@media screen and (max-width: 850px) {
  .thumbnail {
    width: 50%;
  }
  .youtube {
    width: 74%;
    height: 35%;
    margin: 0 1%;
  }
}
@media screen and (max-width: 600px) {
  .thumbnail {
    width: 100%;
  }
  .youtube {
    width: 100%;
    height: 30%;
    margin: 0 1%;
  }
  .img {
    width: 74%;
    flex-grow: 1;
  }
  .img_last {
    width: 74%;
    flex-grow: 1;
  }
  .hochformat {
    width: 30%;
    flex-grow: 1;
  }
  .phone {
    width: 30%;
  }
  .page p,
  h3,
  h5 {
    width: 100%;
    margin: 0 1%;
  }
  .galerie {
    width: 100%;
    margin: 0 1%;
  }
  .details p {
    width: 100%;
  }
}

#logo_s,
.light #logo_s {
  display: inline;
}
#logo_w,
.light #logo_w {
  display: none;
}

.dark #logo_s {
  display: none;
}
.dark #logo_w {
  display: inline;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --txt-color: #fff;
    --plus-color: #585858;
  }
  #logo_s {
    display: none;
  }
  #logo_w {
    display: inline;
  }
}

.hide {
  display: none;
}
